*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}.navbar{
    
    background-color: #777;
    overflow:hidden;
    height: 40px;
}.navbar h1{
    padding-left: 120px;
    float: center;
}
    
.navbar a{
    float:right;
    display:black;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 15px 15px;
    
}
.navbar a:hover{
background-color:aqua;
color:black;
}

.para
{
    /* margin-left: 100px;
    margin-top: 200px; */
    background-image: url('./img.jpg');
    background-size: 100%;
    background-repeat: none;
    width: 100%;
    height: 540px;
    overflow: hidden;
}.head{
    padding-top: 20px;
    color:antiquewhite;
    font-size:40px;
}
.button{
    background-color:sandybrown;
    border:1px solid #777;
    border-radius:2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    display: block;
    width: 12%;
    cursor: pointer;
}
.button a{
    text-decoration: none;
}
.message-text {
   padding: 100px;
    color: wheat;
}
.message-text p{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .footer{
    background-color: DarkSalmon;
    display: flex;
}
.footer{
    text-align: left;
    background-color: DarkSalmon;
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 6rem;
    align-items: end;
    padding-left:20px;

  }
.footer a{
    text-decoration: none;
}
.footer .contact .info {
    position: relative;
    justify-content: space-between;
    left: 150%; 
}
.footer  .contact .info li {
    display: grid;
    grid-template-columns: 0px 1fr;
    margin-bottom: 16px;
}
.footer  .contact .info li span {
    color: #fff;
    font-size: 20px;
}
.footer  .contact .info li a {
    color: #fcd462;
text-decoration: none;
}
.copy{
    align-content: center;
    color: red;
} */

footer{
    position: relative;
    background: #82074a;
    width: 100%;
    bottom: 0;
    left:0;
}

footer .footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 30fr 7fr;
    grid-gap: 20px;
    padding: 20px;
}
footer .footer-container .sec h2{
    position: relative;
    color: #fcd462;
    font-weight: 600
}
footer .footer-container .sec p{
    text-align: justify;
    color: #fff;
    width: 85%;
}
footer .footer-container .contact .info {
    position: relative;
}
footer .footer-container .contact .info li a {
    color: #fcd462;
    text-decoration: none;
}
footer .copyrightText{
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fcd462;
    border-top: 1px solid #fff;
}