.navbar{
    background-color: #333;
    overflow:hidden;
}
.navbar a{
    float:right;
    display:black;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navbar a:hover{
background-color:aqua;
color:black;
}
body {
    background-image: url('img.jpg');
    background-color: #cccccc;
}
.para
{
    margin-left: 100px;
    margin-top: 200px;
}
button{
    background-color: blue;
    border:1px solid #777;
    border-radius:2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    display: block;
    width: 20%;
}