*{
    margin: 0;
    padding: 0;
}.navbar{
    background-color: #777;
    overflow:hidden;
}
.navbar a{
    float:right;
    display:black;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navbar a:hover{
background-color:aqua;
color:black;
}

.para
{
    /* margin-left: 100px;
    margin-top: 200px; */
    background-image: url('./img.jpg');
    background-size: 100%;
    background-repeat: none;
    width: 100%;
    height: 540px;
}
button{
    background-color:sandybrown;
    border:1px solid #777;
    border-radius:2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    display: block;
    width: 12%;
    
}
.message-text {
   padding: 100px;
    color: wheat;
}
.message-text p{
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer {
    text-align: center;
    background-color: DarkSalmon;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;

  }
.footer a{
    text-decoration: none;
}
.contact{
    float:right;
    justify-content:right;
}