*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    
    background-color: #777;
    overflow:hidden;
    height: 40px;
}.navbar h1{
    padding-left: 120px;
    float: center;
}
    
.navbar a{
    float:right;
    display:black;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 15px 15px;
    
}
.navbar a:hover{
background-color:aqua;
color:black;
}
.section-heading{
    padding: 10px;
}
/*body*/
body{
    
        background-image:url('./back.jpg');
        background-repeat: none;
        width:100%;
text-align:center ;
}
form{
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 30px 20px;
}
    .form-control label{
        display: block;
        margin-bottom: 10px;
    
    }
    .form-control{
        text-align:left;
        margin-bottom: 25px;
     }.form-control input,
     .form-control select,
     .form-control textarea{
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
     }
    
button{
padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color:aqua;
    filter: drop-shadow(3px 3px 3px black);
    cursor:pointer;
    border:1px solid #777;
    border-radius:2px;
}
/*footer*/

footer .footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 30fr 7fr;
    grid-gap: 20px;
    padding-bottom: 0px;
}
footer {
    background-color:lightcoral;
    position: relative;
    width: 100%;
    bottom: 0;
    left:0;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: rgb(0, 0, 0);
  opacity: 0, 9;
}
  .socialIcons a:hover {
    background-color: black;
    transition: 0.5s;
  }
  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}
footer .copyrightText{
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #0c0c0b;
    border-top: 1px solid #fff;
}
